* {
  max-width: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1.75fr 3.5fr 1.75fr;
  grid-template-rows: 1fr 3.5fr 0.75fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  background-image: url("./imgs/red-raps-background.jpeg");
  background-size: contain;
  background-position: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

header {
  grid-column: 1 / 4;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border: 2px solid rgba(190, 15, 52, 255);
}

.credits-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: center;
}

.credits {
  display: flex;
  align-items: center;
  font-size: larger;
  height: 30px;
  width: 80px;
  background-color: white;
  border: 2px solid rgba(190, 15, 52, 255);
}

h1 {
  grid-column: 2 / 3;
  text-align: center;
  justify-content: center;
  align-items: center;
}

aside {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 0.75fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: rgb(0, 0, 0);
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: x-large;
}

main {
  margin: 0 auto;
}

.board {
  justify-content: center;
  align-items: center;
  max-height: 400px;
  column-gap: 10px;
  display: grid;
  row-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.logo-box {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
}

.raps-logo {
  height: 100px;
  width: 100px;
}

.cell {
  width: 140px;
  height: 140px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  background-color: white;
  justify-self: center;
}

aside2 {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

footer {
  height: 100%;
  border: 2px solid rgba(190, 15, 52, 255);
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 3fr;
  align-items: center;
  background-color: black;
}

.bet-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.current-bet {
  display: flex;
  align-items: center;
  font-size: larger;
  height: 30px;
  width: 60px;
  background-color: white;
  border: 2px solid rgba(190, 15, 52, 255);
}

div {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.min-bet,
.reset-button,
.raise-bet,
.lower-bet,
.max-bet,
.spin-button {
  cursor: pointer;
}

button {
  background-color: black;
  border: 0;
}

.message-box {
  grid-column: 2 / 3;
  background-color: white;
  border: 1px solid black;
  font-size: 30px;
}

.aside-title {
  grid-column: 1 / 3;
  font-size: xx-large;
}

.cell.sym1 {
  background-image: url("./imgs/masai-larry-ob.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cell.sym2 {
  background-image: url("./imgs/ROTY.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cell.sym3 {
  background-image: url("./imgs/og-ovo-drawing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cell.sym4 {
  background-image: url("./imgs/raptor.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cell.sym5 {
  background-image: url("./imgs/raptors-logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#midRow {
  height: 160px;
  width: 160px;
  border: 10px solid rgb(0, 0, 0);
}

* {
  max-width: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
  .cell {
    height: 80px;
    width: 80px;
  }
  #midRow {
    height: 100px;
    width: 100px;
  }
  .message-box {
    font-size: 24px;
  }
  .aside-title {
    font-size: 18px;
    grid-column: 1 / 2;
  }
  aside {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr;
    font-size: small;
  }
}
